.ListHeader{
    font-size:18px;

}

ion-list-header{
    display:block;
    text-align: center;
    padding-top:10px;
}

.connectButton{
    margin-top:15px;
    padding-left:15px; 
    padding-right:15px;
}